*{
    margin: 0;
    padding: 0;
}

.w_1000{
    margin: 0 auto;
    width: 1000px;
    clear: both;
}

.mar_t20{
     margin-top:20px !important;
 }

.mar_b40{
    margin-bottom:40px !important;
}

.cf{
    zoom: 1;
}

button, h1, h2, h3, h4, h5, h6, input, select, textarea {
    font-size: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/** header */
header{
    border-bottom: 1px solid #ececec;
    background: #ffffff;
}

.logo{
    margin-top: 20px;
    width: 109px;
    margin-right: 60px;
    display: inline-block;
    float: left;
}

header nav{
    height: 60px;
    float: left;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top: 5px;
}

header nav ul{
    margin-top:23px;
}

header nav li{
    list-style: none;
    font-size: 14px;
    position: relative;
    display: inline-block;
    float: left;
    height: 60px;
    margin-right: 50px;
    cursor: pointer;
}

header nav ul a{
    text-decoration: none;
    color: #333333;
}

header nav li i.arrow-icon {
    margin-bottom: 2px;
}
header nav li i {
    margin-left: 5px;
}

header nav .submenu {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0;
    background: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
}

header nav .submenu h3 {
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}
header nav .submenu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    white-space: normal;
}
header nav li i {
    margin-left: 5px;
}

header nav .submenu h3 {
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}

header nav .submenu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    white-space: normal;
}

header nav li i {
    margin-left: 5px;
}

header .icon-box{
    height: 60px;
    width: 200px;
    margin-right: 10px;
    float: right;
    text-align: right;
}

header .icon-box span{
    float: left;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
    width: 17px;
    height: 60px;
    margin-top: 30px;
}

header .search_icon{
    background:url("../images/search-icon.png") 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0 0;
}

header .app_icon{
    background:url("../images/app-icon.png") 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0 0;
}

header .user_login img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-top: -5px;
}

header nav li:hover .submenu {
    display: block;
    opacity: 1;
    animation: myfirst 0.8s ease normal;
    -moz-animation: myfirst 0.8s ease normal;
    -webkit-animation: myfirst 0.8s ease normal;
}


.school-list i.python-icon,
.school-list i.go-icon,
.school-list i.php-icon,
.school-list i.java-icon,
.school-list i.ios-icon,
.school-list i.wechat-icon {
    background: url("//e.jikexueyuan.com/headerandfooter/images/allicon4.png") 0 0 no-repeat;
    background-position: 0 0;
    background-size: 16px 148px;
}

.school-list i.python-icon {
    background-position: -2px -2px;
}

.school-list i.go-icon {
    background-position: -2px -38px;
}

.school-list i.php-icon {
    background-position: -2px -21px;
}

.school-list i.java-icon {
    background-position: -2px -104px;
}

.school-list i.ios-icon {
    background-position: -2px -82px;
}

.school-list i.wechat-icon {
    background-position: -2px -60px;
}

/** pager */
.pager{
    box-sizing: border-box;
    margin-top: 20px;
}

.pager .top-banner{
    height: 330px;
}

.jk_banner{
    width: 750px;
    height: 330px;
    float: left;
    margin-top: 40px;
    margin-right: 10px;
}

.jk-login{
    float: left;
    width: 240px;
    height: 160px;
    margin-top: 40px;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    padding: 26px 29px 24px;
}

.jk-login .userInfo {
    height: 57px;
}

.jk-login .loginOn {
    margin-right: 10px;
}

.jk-login .userName {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jk-login .userStatus {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 10px;
}


.jk-login .loginOn, .jk-login .registerNow, .jk-login .myZoom {
    font-size: 14px;
    float: left;
    display: inline-block;
    width: 80px;
    height: 32px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
}

.jk-login img {
    float: left;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-right: 15px;
}

.jk-login .userName {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jk-login .loginOn {
    margin-right: 10px;
}

.jk-huodong{
    float: left;
    width: 240px;
    height: 160px;
    box-sizing: border-box;
    background: red;
    border: 1px solid #e9e9e9;
    margin-top: 10px;
    overflow: hidden;
}

/** 线上就业 */
.jk-jiuye{
    float: left;
    width: 100%;
    margin-top: 40px;
    position: relative;
    padding-right: 240px;
    box-sizing: border-box;
}

.jk-jiuye .mb-0 {
    margin-bottom: 0;
}

.jk-jiuye .mr-0 {
    margin-right: 0;
}

.jk-jiuye h2{
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.jk-jiuye .jk-ban p {
    color: #fff;
    font-size: 8px;
    line-height: 75px;
    text-align: center;
}

.jk-jiuye a{
    text-decoration: none;
    box-sizing: border-box;
}


.jk-jiuye .jk-ban{
    float: left;
    width: 370px;
    height: 75px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0;
    line-height: 75px;
    padding-left: 120px;

    transition: box-shadow .2s linear;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: initial;
}

.jk-jiuye  .web{
    background: url(../images/jiuye-web03_b78e3f6.png) no-repeat center center / 370px 75px;
}

.jk-jiuye .php {
    background: url(https://s1.jikexueyuan.com/index/images/jiuye-php03_8cdf521.png) no-repeat center center / 370px 75px;
}

.jk-jiuye .javaweb {
    background: url(https://s1.jikexueyuan.com/index/images/jiuye-java03_302dbd8.png) no-repeat center center / 370px 75px;
}

.jk-jiuye .ui {
    background: url(https://s1.jikexueyuan.com/index/images/jiuye-ux03_45d7813.png) no-repeat center center / 370px 75px;
}

.banner-baidu{
    width: 240px;
    height: 160px;
    /*background: red;*/
    position: absolute;
    top: 40px;
    right: 2px;
    background: url("../images/0f0002RrkUoEEKPVBi6BAf.jpg");
}

/** 专业精口课 **/
.jk-sku{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
    box-sizing: border-box;
    float: left;
}

.jk-sku h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.jk-sku ul {
    width: 100%;
    height: 270px;
    list-style: none;
    box-sizing: border-box;
}

.jk-sku ul li {
    float: left;
    width: 228px;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.jk-sku ul li .skuContainer {
    padding: 14px;
    height: 113px;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}

.jk-sku ul li img {
    width: 100%;
    height: 155px;
}

.jk-sku ul li .skuContainer .skuTitle {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 18px;
    height: 36px;
}

.jk-sku ul li .skuContainer .skuInfo {
    margin-top: 6px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}

.jk-sku ul li .skuContainer .skuPrice {
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}

.jk-sku ul li .skuContainer .skuThrought {
    float: left;
    font-size: 12px;
    color: #999;
    margin-top: 14px;
    text-decoration: line-through;
    vertical-align: bottom;
}

.jk-sku ul li .skuContainer .skuNum {
    display: inline-block;
    height: 14px;
    position: absolute;
    bottom: 14px;
    right: 14px;
    color: #999;
    font-size: 12px;
}

.jk-sku ul li a{
    text-decoration: none;
    box-sizing: border-box;
}

/** 大牛 */
.jk-daniu {
    float: left;
    width: 1000px;
    margin: 0 auto 40px;
}

.jk-daniu h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}
.jk-daniu ul {
    list-style: none;
    box-sizing: border-box;
}


.jk-daniu li {
    position: relative;
    float: left;
    margin-left: 10px;
    padding-top: 48px;
}

.jk-daniu li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.jk-daniu li:first-child {
    margin-left: 0;
    padding-top: 55px;
    background: url(../images/daniu_01_04a8f60.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.jk-daniu li:nth-child(2) {
    background: url(../images/daniu_02_32a4b8f.jpg) center center no-repeat;
    background-size: 100% 100%;
}
.jk-daniu li:nth-child(3) {
    background: url(../images/daniu_03_ab4fc6e.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.jk-daniu li:nth-child(4) {
    background: url(../images/daniu_04_0b4155e.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.jk-daniu li:nth-child(5) {
    background: url(../images/daniu_05_0b52a98.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.jk-daniu li:nth-child(6) {
    background: url(../images/daniu_06_76b8ecc.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.jk-daniu li:nth-child(7) {
    background: url(../images/daniu_07_5229e37.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.jk-daniu li:nth-child(8) {
    padding-top: 35px;
    line-height: 22px;
    background: url(../images/daniu_08_31f0321.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.jk-daniu li:nth-child(1), .jk-daniu li:nth-child(3), .jk-daniu li:nth-child(5), .jk-daniu li:nth-child(6) {
    width: 345px;
    height: 135px;
}

/** 魔鬼程序员 */
.jk-mogui {
    float: left;
    width: 1000px;
    margin: 0 auto 40px;
}

.jk-mogui h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.jk-mogui .mg-1 {
    background: #df5a49;
}

.jk-mogui .mg-2 {
    background: #efc94c;
}

.jk-mogui .mg-3 {
    background: #e27a3f;
}

.jk-mogui .mg-4 {
    background: #45b29d;
}

.jk-mogui .mg-1, .jk-mogui .mg-3 {
    width: 620px;
}

.jk-mogui .mg-2, .jk-mogui .mg-4 {
    width: 380px;
}

.jk-mogui li {
    float: left;
    height: 135px;
    position: relative;
    list-style: none;
}

.jk-mogui .mg-1 div {
    padding-left: 20px;
}

.jk-mogui .mg-2 div {
    padding-left: 20px;
}
.jk-mogui .mg-3 div {
    width: 320px;
    text-align: right;
    padding-right: 20px;
}

.jk-mogui .mg-4 div {
    width: 155px;
    text-align: right;
    padding-right: 20px;
}

.jk-mogui li>a>div {
    float: left;
    height: 135px;
    padding-top: 70px;
}

.jk-mogui li i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
}

.jk-mogui li>a>img {
    float: left;
}

.jk-mogui li>a span {
    display: block;
    font-size: 12px;
}

.jk-mogui li i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
}

.jk-mogui li>a {
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.8em;
    color: #fff;
}

li{
    box-sizing: border-box;
}

/** 职业学院 */
.jk-college {
    float: left;
    width: 1000px;
    margin: 0 auto;
    height: 310px;
    margin-bottom: 40px;
}

.jk-college h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.jk-college ul {
    list-style: none;
}

.jk-college ul .web {
    width: 500px;
    height: 270px;
    margin-left: 0;
}
.jk-college ul li {
    float: left;
    background: #ccc;
    width: 240px;
    height: 130px;
    margin-left: 10px;
    position: relative;
}

.jk-college ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.jk-college ul .web img {
    display: inline-block;
    width: 500px;
    height: 270px;
}
.jk-college ul li img {
    display: inline-block;
    width: 240px;
    height: 130px;
}

.jk-college ul li i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
}

.jk-college ul .web span {
    padding-top: 180px;
    font-size: 20px;
    background: url(../images/cweb_2d70d0b.png) no-repeat center 70px;
    background-size: 55px 84px;
}

.jk-college ul .python span {
    background: url(../images/cpython_5ed9df4.png) no-repeat center 31px;
    background-size: 36px 36px;
}


.jk-college ul li:nth-child(2) {
    margin-bottom: 10px;
}

.jk-college ul li:nth-child(3) {
    margin-bottom: 10px;
}
.jk-college ul .go span {
    background: url(../images/cgo_e66208d.png) no-repeat center 33px;
    background-size: 36px 29px;
}


.jk-college ul .ios {
    margin-bottom: 10px;
}
.jk-college ul .ios span {
    background: url(../images/cios_dc0ca8e.png) no-repeat center 36px;
    background-size: 32px 36px;
}


.jk-college ul .more {
    margin-bottom: 10px;
}

.jk-college ul .more span {
    background: url(../images/cwechat_624099d.png) no-repeat center 40px;
    background-size: 40px 33px;
}



.jk-college ul li span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
}

/** vip */
.jk-vip {
    float: left;
    width: 1000px;
    margin: 0 auto;
    height: 420px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.jk-vip h2 {
    font-size: 18px;
    color: #555;
    height: 18px;
    line-height: 18px;
    margin-bottom: 22px;
}

.jk-vip ul {
    width: 100%;
    height: 310px;
    list-style: none;
}

.jk-vip ul li {
    float: left;
    width: 156px;
    height: 150px;
    border: 1px solid #e9e9e9;
    background: #fff;
    margin-right: 10px;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.jk-vip ul li a {
    display: block;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.jk-vip ul li a img {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 25px;
}

.jk-vip ul li a p {
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
}

.jk-vip ul li a span {
    display: block;
    font-size: 12px;
    color: #35b558;
    height: 22px;
    line-height: 22px;
}


.jk-vip .vipAll {
    display: inline-block;
    float: left;
    margin-top: 38px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    text-decoration: none;
    margin-left: -60px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
}

/*** 学员故事 */
.jk-story {
    float: left;
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.jk-story h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.jk-story .story-container {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
}

.jk-story .story-container .swiper-slide {
    position: relative;
    text-align: center;
    float: left;
    background: #f5f5f5!important;
}

.jk-story ul {
    height: 200px;
    width: 100%;
    list-style: none;
}

.jk-story .story-container .story-pagination {
    position: absolute;
    left: 0;
    bottom: 16px;
    text-align: center;
    width: 100%;
    z-index: 800;
    height: 0;
    cursor: pointer;
}

/** 合作企业 */
.jk-partner {
    float: left;
    width: 1000px;
    margin: 0 auto;
    height: 240px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.jk-partner h2 {
    font-size: 18px;
    color: #555;
    height: 18px;
    line-height: 18px;
    margin-bottom: 22px;
}

.jk-partner ul {
    width: 100%;
    height: 120px;
    list-style: none;
}

.jk-partner ul li {
    float: left;
    width: 146px;
    height: 50px;
    border: 1px solid #e9e9e9;
    background: #fff;
    margin-right: 20px;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.jk-partner ul li:nth-child(1) a {
    background: url(../images/p_microsoft_82f9a9a.png) no-repeat center;
}
.jk-partner ul li:nth-child(2) a {
    background: url(../images/p_tencent_47175aa.png) no-repeat center;
}
.jk-partner ul li:nth-child(3) a {
    background: url(../images/p_qcloud_ab76cc7.png) no-repeat center;
}
.jk-partner ul li:nth-child(4) a {
    background: url(../images/p_qualcomm_362a472.png) no-repeat center;
}
.jk-partner ul li:nth-child(5) a {
    background: url(../images/p_cocos_2a0a8f3.png) no-repeat center;
}
.jk-partner ul li:nth-child(6) a {
    background: url(../images/p_amd_f9f0c7f.png) no-repeat center;
}
.jk-partner ul li:nth-child(7) a {
    background: url(../images/p_xunfei_d1cd670.png) no-repeat center;
}
.jk-partner ul li:nth-child(8) a {
    background: url(../images/p_tuling_3ec6ea2.png) no-repeat center;
}
.jk-partner ul li:nth-child(9) a {
    background: url(../images/p_tingyun_c2752df.png) no-repeat center;
}
.jk-partner ul li:nth-child(10) a {
    background: url(../images/p_juhe_25bbedf.png) no-repeat center;
}
.jk-partner ul li:nth-child(11) a {
    background: url(../images/p_bootstrap_d0a74f3.png) no-repeat center;
}
.jk-partner ul li:nth-child(12) a {
    background: url(../images/p_cloudstack_6ecabb3.png) no-repeat center;
}

.jk-partner ul li a {
    display: block;
    height: 100%;
}


.jk-partner .more-partner {
    display: inline-block;
    margin-top: 38px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
    text-decoration: none;
}

/** footer */
#footer .jkinfor-block {
    float: left;
    background: #fff;
}

.gotop {
    position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    width: 34px;
    text-align: center;
    z-index: 2000;
}

.gotop span.top {
    display: block;
    background: url(//e.jikexueyuan.com/headerandfooter/images/gotop.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 34px;
}

.gotop span.erwma {
    position: relative;
    display: block;
    background: url(//e.jikexueyuan.com/headerandfooter/images/gotop.jpg) 0 -34px no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 35px;
}
.gotop span.erwma img, .gotop span.jk-app img {
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none;
}
.gotop span.jk-app {
    position: relative;
    display: block;
    background: #f7f7f7 url(//e.jikexueyuan.com/headerandfooter/images/phone-1.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}
.gotop span {
    cursor: pointer;
}
.appewm {
    background: url(//e.jikexueyuan.com/headerandfooter/images/appewm.png) center center no-repeat;
    background-size: 100%;
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none;
}

#footer .jkinfor-block .jkinfor .jk-logo {
    position: absolute;
    /*left: 0;*/
    top: 25px;
    display: inline-block;
    width: 160px;
}
#footer div, #footer p, #footer dd, #footer dl, #footer dt {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}

#footer .jkinfor-block .jkinfor {
    position: relative;
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 224px;
    padding-top: 25px;
    box-sizing: border-box;
}


#footer .copyright {
    float: left;
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
}

#footer div, #footer p, #footer dd, #footer dl, #footer dt {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}


a {
    text-decoration: none
}
#footer div,
#footer p,
#footer dd,
#footer dl,
#footer dt {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif
}

#footer {
    min-width: 1000px;
    border-top: 1px solid #e4e4e4;
    background: #fff;
}

#footer .jkinfor-block {
    background: #fff;
}

#footer .jkinfor-block .jkinfor {
    position: relative;
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 224px;
    padding-top: 25px;
    box-sizing: border-box;
}

#footer .jkinfor-block .jkinfor .jk-logo {
    position: absolute;
    left: 0;
    top: 25px;
    display: inline-block;
    width: 160px;
}

#footer .jkinfor-block .jkinfor .jk-logo img {
    width: 109px;
    height: 40px;
    display: block;
}

#footer .jkinfor-block .jkinfor .jk-logo p {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

#footer .jkinfor dl {
    width: 135px;
    color: #808080;
    float: left;
}

#footer .jkinfor dl dt {
    font-size: 14px;
    line-height: 30px;
}

#footer .jkinfor dl dd {
    font-size: 12px;
    line-height: 30px;
}

#footer .jkinfor dl dt a {
    color: #808080;
}

#footer .jkinfor dl dd a {
    color: #999999;
}

#footer .jkinfor a:hover {
    color: #35b558;
}

#footer .jk-down {
    position: absolute;
    right: 0;
    top: 25px;
    display: inline-block;
    width: 175px;
    text-align: left;
}

#footer .jk-down .hot-tel {
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}

#footer .jk-down .downCon {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
}

#footer .jk-down .down-ios {
    background: url(//e.jikexueyuan.com/headerandfooter/images/icon-down-ios.png)no-repeat 0 0;
    background-size: 30px 30px;
}

#footer .jk-down .down-and {
    background: url(//e.jikexueyuan.com/headerandfooter/images/icon-down-and.png)no-repeat 0 0;
    background-size: 30px 30px;
}

#footer .jk-down .downCon img {
    display: inline-block;
    width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    display: none;
}

#footer .jk-down .downCon:hover img {
    display: block;
}

#footer .copyright {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 15px 0
}

#footer .copyright a {
    color: #999;
}

#footer .copyright a:hover {
    color: #35B558;
}

#footer .copyright a.down-sina {
    float: right;
    height: 15px;
    width: 20px;
    margin-right: 10px;
    background: url(//e.jikexueyuan.com/headerandfooter/images/icon-down-sina.png)no-repeat 0 0;
    background-size: 20px 15px;
}

#footer .copyright a.down-wechat {
    float: right;
    height: 15px;
    width: 20px;
    background: url(//e.jikexueyuan.com/headerandfooter/images/icon-down-wechat.png)no-repeat 0 0;
    background-size: 18px 15px;
}

.loading_icon {
    width: 40px;
    height: 40px;
    background: url(//e.jikexueyuan.com/headerandfooter/images/loading.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 2000;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;
}

.rotate2_360 {
    -webkit-animation: rotate 1.5s infinite linear;
    animation: rotate 1.5s infinite linear;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

.ljbm4 {
    width: 300px;
    height: 41px;
    border: none;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
    /*background: url(../images/baoming2.png) 0 0 no-repeat;*/
    float: left;
    background-size: 100% 100%;
    font-size: 12px;
    color: #fff;
    line-height: 40px;
}

.gotop {
    position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    width: 34px;
    text-align: center;
    z-index: 2000
}

.gotop span {
    cursor: pointer
}

.gotop span.top {
    display: block;
    background: url(//e.jikexueyuan.com/headerandfooter/images/gotop.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 34px
}

.gotop span.top:hover {
    background: url(//e.jikexueyuan.com/headerandfooter/images/gotop2.jpg) 0 0 no-repeat;
    background-position: 0 0;
    background-size: 34px 103px;
    -webkit-background-size: 34px 103px;
    -moz-background-size: 34px 103px
}

.gotop span.erwma {
    position: relative;
    display: block;
    background: url(//e.jikexueyuan.com/headerandfooter/images/gotop.jpg) 0 -34px no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 35px
}

.gotop span.jk-app {
    position: relative;
    display: block;
    background: #f7f7f7 url(//e.jikexueyuan.com/headerandfooter/images/phone-1.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0
}

.gotop span.jk-app:hover {
    background: #f7f7f7 url(//e.jikexueyuan.com/headerandfooter/images/phone-2.png) center center no-repeat;
    background-size: 12px 24px
}

.gotop span.jk-app:hover .appewm {
    display: block;
}

.appewm {
    background: url(//e.jikexueyuan.com/headerandfooter/images/appewm.png) center center no-repeat;
    background-size: 100%;
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none
}

.gotop a.qq-online {
    position: relative;
    display: block;
    background: #f7f7f7 url(//e.jikexueyuan.com/headerandfooter/images/kfu.png) center center no-repeat;
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0
}

.gotop a.qq-online1 {
    position: relative;
    display: block;
    background: #f7f7f7 url(//e.jikexueyuan.com/headerandfooter/images/kfu1.png) center center no-repeat;
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0
}

.gotop a.qq-online .kefu {
    position: absolute;
    padding: 5px;
    background: #f7f7f7;
    color: #333;
    font-size: 12px;
    text-align: center;
    width: 180px;
    left: -190px;
    display: none
}

.gotop a.qq-online .kefu i {
    heihgt: 20px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid #f7f7f7;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: -10px;
    top: 12px
}

.gotop a.qq-online:hover .kefu {
    display: block
}

.gotop span.erwma img,
.gotop span.jk-app img {
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none
}

.gotop a.diaocha {
    display: block;
    width: 34px;
    height: 34px
}

.gotop span.erwma:hover {
    background: url(//e.jikexueyuan.com/headerandfooter/images/gotop2.jpg) 0 -34px no-repeat;
    background-size: 34px 103px;
    -webkit-background-size: 34px 103px;
    -moz-background-size: 34px 103px
}

.ad_layer{
    z-index:999;
    position:fixed;
    left:50%;
    width:110px;
    height:200px;
    margin-left:515px;
    margin-bottom:-100px;
    bottom:50%;
    background:transparent;
}

.ad_layer .close{
    display:block;
    z-index:999;
    position:absolute;
    top:0;
    right:0;
    width:15px;
    height:15px;
    background:rgb(211,211,211);
    cursor:pointer;
}

.ad_layer .close:before{
    content:'';
    display:inline-block;
    z-index:999;
    position:absolute;
    top:7px;
    left:3px;
    width:10px;
    height:1px;
    background:#fff;
    transform:rotate(45deg);
}

.ad_layer .close:after{
    content:'';
    display:inline-block;
    z-index:999;
    position:absolute;
    top:7px;
    right:2px;
    width:10px;
    height:1px;
    background:#fff;
    transform:rotate(-45deg);
}

#footer{
    background: red;
    width:1000px;
    height: 200px;
}


















