.wrapper{
	margin-top: 50px;
}

header div{
	text-align: center;
	font-weight:bold;
}

/** 表格 */
.content table{
	width: 600px;
	height: 300px;
	margin: 10px auto;
	text-align: center;
	font-weight:bold;
	border:solid #837B7B; 
	border-width:2px 2px 2px 2px;
}

/** 表格单元格 */
.content table tr td{
	width: 60px;
	height: 50px;	
	border: solid #9E9090;
	border-width: 0px 2px 2px 0px;	
}