body{
    background-color: #474747;
    min-width: 600px;
    position: relative;
}

/** 动画 */
@-webkit-keyframes myanimation{
    0%{-webkit-transform: scale(1);}
    100%{-webkit-transform: scale(1.8);}

}

@-moz-keyframes myanimation{
    0%{-webkit-transform: scale(1);}
    100%{-webkit-transform: scale(1.8);}

}

@-ms-keyframes myanimation{
    0%{-webkit-transform: scale(1);}
    100%{-webkit-transform: scale(1.8);}

}

@-o-keyframes myanimation{
    0%{-webkit-transform: scale(1);}
    100%{-webkit-transform: scale(1.8);}

}

@-moz-keyframes myanimation{
    0%{-moz-transform: scale(1);}
    100%{-moz-transform: scale(1.8);}

}

@keyframes myanimation{
    0%{transform: scale(1);}
    100%{transform: scale(1.8);}

}


/** MOUSE */
#mouse{
    position: absolute;
    top: 100px;
    left: 280px;
}

/** 头 */
#mouse_head {
    width: 200px;
    height: 200px;
    background-color: #8F9595;
    -webkit-border-radius: 100%;
    border-radius: 100px;
}

/** 眼睛 */
#mouse_ear_left {
    display: inline-block;
    position: relative;
    top: -230px;
    left: -25px;
    border: 12px solid #6E6E6E;
    width: 75px;
    height: 75px;
    background: #E5A95F;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#mouse_ear_right {
    display: inline-block;
    position: relative;
    top: -230px;
    left: 25px;
    border: 12px solid #6E6E6E;
    width: 75px;
    height: 75px;
    background: #E5A95F;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#mouse_eye_left_outer {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 55px;
    left: 50px;
    background: white;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#mouse_eye_right_outer {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 55px;
    left: 110px;
    background: white;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#mouse_eye_left_inner {
    -webkit-animation: myanimation ease-in-out .5s infinite forwards;
    -moz-animation: myanimation ease-in-out .5s infinite forwards;
    -ms-animation: myanimation ease-in-out .5s infinite forwards;
    -o-animation: myanimation ease-in-out .5s infinite forwards;
    animation: myanimation ease-in-out .5s infinite forwards;

    width: 15px;
    height: 15px;
    position: absolute;
    top: 75px;
    left: 63px;
    background: black;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#mouse_eye_right_inner {
    -webkit-animation: myanimation ease-in-out .5s infinite forwards;
    -moz-animation: myanimation ease-in-out .5s infinite forwards;
    -ms-animation: myanimation ease-in-out .5s infinite forwards;
    -o-animation: myanimation ease-in-out .5s infinite forwards;
    animation: myanimation ease-in-out .5s infinite forwards;

    width: 15px;
    height: 15px;
    position: absolute;
    top: 75px;
    left: 122px;
    background: black;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

/** 嘴 */
#mouse_nose {
    width: 0;
    height: 0;
    position: absolute;
    top: 110px;
    left: 75px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #6E6E6E;
    z-index: 1;
}

/** 胡须 */
#mouse_whisker_left_1 {
    width: 80px;
    height: 1.5px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    top: 115px;
    left: 25px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

#mouse_whisker_left_2 {
    width: 80px;
    height: 1.5px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    top: 118px;
    left: 28px;
}

#mouse_whisker_left_3 {
    width: 80px;
    height: 1.5px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    top: 120px;
    left: 25px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#mouse_whisker_right_1 {
    width: 80px;
    height: 1.5px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    top: 115px;
    left: 90px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#mouse_whisker_right_2 {
    width: 80px;
    height: 1.5px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    top: 118px;
    left: 90px;
}

#mouse_whisker_right_3 {
    width: 80px;
    height: 1.5px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    top: 121px;
    left: 92px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

/** 牙齿 */
#mouse_tooth_left {
    width: 15px;
    height: 22px;
    background-color: white;
    position: absolute;
    top: 170px;
    left: 84px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

#mouse_tooth_right {
    width: 15px;
    height: 22px;
    background-color: white;
    position: absolute;
    top: 170px;
    left: 102px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}



