/** 外容器 */
.wrapper{
	width: 300px;
	height: 300px;
	/**background-color: red;*/
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
}

/** 上box容器 */
.topbox{
	width: 100px;
	height: 100px;
	background-color: #B9BDB9;	
	margin-left: 100px;	
	box-shadow:0px 0px 25px rgba(0,0,0,.8);
}

/** 右box容器 */
.rightbox{
	width: 100px;
	height: 100px;
	background-color: #B9BDB9;
	margin-left: 200px;	
	box-shadow:0px 0px 25px rgba(0,0,0,.8);
}

/** 下box容器 */
.downbox{
	width: 100px;
	height: 100px;
	background-color: #B9BDB9;
	margin-left: 100px;	
	box-shadow:0px 0px 25px rgba(0,0,0,.8);
}

/** 左box容器 */
.leftbox{
	width: 100px;
	height: 100px;
	background-color: #B9BDB9;
	margin-top: -200px;
	box-shadow:0px 0px 25px rgba(0,0,0,.8);
}

/** 中box容器 */
.midbox{
	width: 100px;
	height: 100px;
	/**background-color: blue;*/
	margin-top: -100px;
	margin-left: 100px;
	
}	

/** 图片 */
.midbox img{
	width: 100px;
	height: 100px;
}