body{
    margin: 0px;
    padding: 0px;
}
#header{
    padding: 10px;
    background-color: skyblue;
    color: black;
    font-family: arial;
    text-align: center;
    font-weight: bold;
}
h3{
    font-size:20px;
    width:800px;
    margin: 0 auto;
}
#content{
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    padding: 10px;

    background-color: cadetblue;
    line-height: 200%;
    text-indent:2em;
}
#nav{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
    background-color: skyblue;
}
#footer{
    position: relative;
    bottom: 20px;
    margin-top: 30px;
    background-color: gray;
    text-align: center;

}
input{
    font-size: 12px;
    border-radius: 5px;
    background-color: skyblue;
}
input.blue{
    background-color: skyblue;
}
input.green{
    background-color: greenyellow;
}
input#blue{
    background-color: skyblue;
} 