body,html{
    margin: 0px;
    padding: 0px;
    height: 100%
}
#container{
    height: 100%;
    position: relative;
}
#header{
    padding: 10px;
    background-color: greenyellow;
    float:left;
    width: 20%;
    height:100%;
    text-align: center;
    box-sizing: border-box;
}

#content{
    font-size: 12px;
    padding: 10px;
    line-height: 180%;
    width: 80%;
    height: 100%;
    text-indent: 2em;
    background-color: slategray;
    box-sizing: border-box;

}
.nav{
    position: absolute;
    top: 50px;
    width: 150px;
}
#footer{
    position: relative;
    top: 20px;
    margin-top: 30px;
    background-color: gray;
    text-align: center;
}
input{
    border-radius: 5px;
}
input.blue{
    background-color: skyblue;
}
input.green{
    background-color: greenyellow;
}